################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DesktopApp/bin
/DesktopApp/obj
/FaceLibrary/bin
/FaceLibrary/obj
/DesktopApp/Images
/DesktopApp/app.settings.json
